services:
  app:
    build: .
    container_name: pr-service
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    env_file: .env

  db:
    image: postgres:16
    container_name: pr-db
    restart: always
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST_AUTH_METHOD: md5
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 3s
      retries: 5

volumes:
  pgdata:
